@model COMP2084FinalF2017.Models.Country

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Country</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gold)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gold)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Silver)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Silver)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bronze)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bronze)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalMedals)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalMedals)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Flag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Flag)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CountryID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
